@model ITIExaminationSyustem.Models.Course

@{
    ViewData["Title"] = "Details";
}
<partial name="CourseDetails" />

@* <div>
    <a asp-action="Index" asp-controller="Course" class="btn btn-dark mt-3">Back to List</a>
</div> *@
