@model ITIExaminationSyustem.Models.Course

@{
    ViewData["Title"] = "Details";
}

<partial name="CourseDetails" />

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
