@model ITIExaminationSyustem.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Course</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course_Name" class="control-label"></label>
                <input asp-for="Course_Name" class="form-control" />
                <span asp-validation-for="Course_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_Duration" class="control-label"></label>
                <input asp-for="Course_Duration" class="form-control" />
                <span asp-validation-for="Course_Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crs_Exam_Duration" class="control-label"></label>
                <input asp-for="Crs_Exam_Duration" class="form-control" />
                <span asp-validation-for="Crs_Exam_Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_Exam_StartDate" class="control-label"></label>
                <input asp-for="Course_Exam_StartDate" class="form-control" />
                <span asp-validation-for="Course_Exam_StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-dark mt-3" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index" class="btn btn-dark mt-3">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
