@model List<Department>
@{
    ViewBag.Title = "Add Instructor";
    SelectList departments = new SelectList(Model, "Department_Id", "Department_Name");
}



<h1>Users</h1>
<table>
    <thead>
        <th>User Name</th>
        <th>User Email</th>
        <th>operation</th>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>@item.User_Name</td>
                <td>@item.User_Email</td>
                <td>
                    <a class="btn btn-dark" asp-action="AddInstructor" asp-route-id="@item.User_Id">Add</a>
                </td>
            </tr>
        }
    </tbody>
</table>
