@model Role
@{
    
}

<table class="table table-striped table-hover">
    <tr><td>Role ID</td> <td>@Model.Role_Id</td></tr>
    <tr><td>Role Type</td> <td>@Model.Role_Type</td></tr>
</table>
<a asp-action="index" asp-controller="role" class="btn btn-dark">Back To List</a>
