@model Role
@{
  
}

<form method="post">
    <label asp-for="Role_Type" class="form-label">Role Type</label>
    <input asp-for="Role_Type" class="form-control" />
    <span asp-validation-for="Role_Type" class="text-danger"></span><br />
    <input type="submit" value="Update" class="btn btn-dark mt-3" />
</form>

