@model Admin
@{
    ViewData["Title"] = "Add";
    // SelectList Emaillist = new SelectList(ViewBag.Emaillist, "Admin_User_Id", "User_Email");
}

<h1>Add</h1>
<form asp-action="Save" asp-controller="Admin" method="post">
    <div class="form-group">
        <label asp-for="@Model.Navigation_User.User_Email">User Email</label>
        <select asp-for="Admin_User_Id" class="form-control" asp-items="@(new SelectList(ViewBag.Emaillist, "Admin_User_Id", "User_Email"))">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Navigation_Branch.Branch_Name">Branch Name</label>
        <select asp-for="Admin_Branch_Id" class="form-control" asp-items="@(new SelectList( ViewBag.Branchlist, "Admin_Branch_Id", "Branch_Name"))">
        </select>
    </div>
 
    <input type="submit" value="Save" class="btn btn-danger mt-3" />
</form>

<a asp-action="Index" asp-controller="admin" class="btn btn-dark mt-3">Back ToL ist</a>

