<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITIExaminationSystem</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/ITIExaminationSyustem.styles.css" asp-append-version="true" />
</head>


<body class="bg-dark min-vh-100">

   <header>
        <nav class="navbar navbar-expand-lg  flex-column">

            <div class="container-fluid d-flex flex-column">
                <div class="mt-4">
                    <div class="user-info d-flex justify-content-center align-items-center flex-column d-none d-sm-inline w-100 bg-danger">
                        <div class="img-container">
                            <img src="@User.FindFirst("image")?.Value" alt="profile image" class="img-fluid">
                        </div>
                        <h5 class="text-white ">@User.Identity.Name</h5>
                        <div id="user-controls" class="d-flex">

                            <ul class="navbar-nav d-flex flex-column ps-2 justify-content-center ">
                                <li class="nav-item">
                                    <a class="nav-link text-white me-1" asp-area="" asp-controller="Account" asp-action="MyDetails">
                                        <i class="fa-solid fa-circle-info"></i>
                                        <span class="d-none d-sm-inline">Details</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="LogOut">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                        <span class="d-none d-sm-inline">Log out</span>
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                            
                        
                        <hr class="text-white mt-1 mb-2" />

                    </div>
    


                    <div class="" id="navbarNav">

                        <ul class="navbar-nav d-flex flex-column   ps-2 justify-content-center ">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index")">
                                    <i class="fa-solid fa-house"></i>
                                    <span class="d-none d-sm-inline">Home</span>
                                </a>
                            </li>

                            <partial name="_LoginPartial" />
                    </ul>
                       

                    </div>
                </div>
        </nav>
   </header>








    <div class="main  min-vh-100  d-flex flex-column justify-content-between" id="main-content">
        <div class="">

            <div class="col" id="main-container">
                <h1 class="text-center text-white">Examination System</h1>
                <main role="main" class="card bg-light ">
                    
                    <div class="card-body table-responsive">
                        @RenderBody()
                   </div>
                    
                </main>
                
            </div>
        </div>

        
        <footer class="text-white p-3 ">
            <div class="row">

                <div class="col-md-6" id="footer-details">
                    <div class="logo-container">
                        <img src="~/static/WhiteLogo.svg" alt="ITI LOGO">
                    </div>

                    <p class="fs-6">
                        Empowering our students with our cutting-edge online examination system. Our platform offers a seamless and secure environment for conducting exams remotely,
                        providing flexibility and convenience to both students and instructors.
                    </p>
                </div>

                <div class="col-md-6" id="footer-contact">
                    <div class="touch">
                        <h3>Get in Touch</h3>

                        <div class="line mb-1">
                            <div class="icon me-1"><i class="fa-solid fa-location-dot"></i></div>
                            <div class="text"><p class="mb-0">A108 Adam Street, New York, NY 535022</p></div>
                        </div>

                        <div class="line mb-1">
                            <div class="icon me-1"><i class="fa-solid fa-envelope"></i></div>
                            <div class="text"><a class="text-white text-decoration-none" href="mailto:contact@example.com">contact@example.com</a></div>
                        </div>

                        <div class="line mb-1">
                            <div class="icon me-1"><i class="fa-solid fa-phone"></i></div>
                            <div class="text"><a class="text-white text-decoration-none" href="tel:+5589 55488 55">+1 5589 55488 55</a></div>
                        </div>
                    </div>

                    <div class="social">
                        <h3>Social Media</h3>
                        <ul>
                            <li>
                                <a href="https://twitter.com/itichannel2">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/ITIchannel/">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/itichannel"
                    <i class="fa-brands fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/school/information-technology-institute-iti-/mycompany/verification/">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </footer>

    </div>



    

        





    

 




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


