@model BranchManager
@{
    ViewData["Title"] = "AddBranchManager";
}

<h1>AddBranchManager</h1>

<form asp-action="Save" asp-controller="BranchManager" method="post">
    <div class="form-group">
        <label asp-for="@Model.Branch_Manager_Name"></label>
        <input asp-for="@Model.Branch_Manager_Name" type="text" class="form-control" placeholder="Enter Branch Manager Name">
    </div>
    <input type="submit" value="save" class="btn btn-danger" />
</form>

<a asp-action="Index" asp-controller="BranchManager" class="btn btn-info">BackToList</a>

