@model List<Branch>
@{
    ViewBag.Title = "Add Student";
    SelectList Branches = new SelectList(Model, "Branch_Id", "Branch_Name");
    SelectList Users = new SelectList(ViewBag.Users, "User_Id", "User_Name");

}
<h4>Add a Student</h4>
<form >
    <label class="form-label mt-3 fw-bold" for="branchId">Branch</label>
    <select asp-items="Branches" class="form-select" name="branchId">
    </select>
    <label class="form-label mt-3 fw-bold" for="userId">user</label>
    <select asp-items="Users" class="form-select" name="userId">
    </select>
    <input type="submit" class="btn btn-dark mt-3" asp-action="AddToBranch" value="submit" />
</form>



@* <table>
    <thead>
        <th>Branch</th>
        <th>Operation</th>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Branch_Name</td>
                <td><a class="btn btn-success" >Add Students to branch</a></td>
            </tr>
        }
    </tbody>
</table> *@

























