@model Student
@{
    ViewBag.Title = "Edit Student";
}



<form class="form-control">
    <div class="form-group">
        <label for="exampleFormControlInput1">Student Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" value="@Model">
    </div>

    <div class="form-group">
        <label for="studemail">Student Name</label>
        <input type="text" class="form-control" id="studemail" placeholder="Email" value="@Model.Navigation_User.User_Email">
    </div>

    <div class="form-group">
        <label for="studDep">Example select</label>
        <select class="form-control" id="studDep" >
            
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>