@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
    SelectList branches = new SelectList(Model.branches, "Branch_Id", "Branch_Name");
    SelectList mainDepartments = new SelectList(Model.mainDepartments, "MainDepartment_Id", "MainDepartment_Name");
    SelectList instructors = new SelectList(Model.instructors, "Instructor_Id", "Navigation_User.User_Name");
}

<form method="post">
    <partial name="CreateEdit" />

    <input type="submit" value="Add" class="btn btn-primary" />
</form>


