@model Department
@{
    ViewData["Title"] = "CreateEdit";
    SelectList branches = new SelectList(ViewBag.Branches, "Branch_Id", "Branch_Name");
    SelectList mainDepartments = new SelectList(ViewBag.MainDepartments, "MainDepartment_Id", "MainDepartment_Name");
    SelectList instructors = new SelectList(ViewBag.Instructors, "MainDepartment_Id", "MainDepartment_Name");
}

<label>Branch</label>
<select asp-for="Brch_Id" asp-items="branches"></select>
<br />

<label>Department</label>
<select asp-for="MainDept_Id" asp-items="mainDepartments"></select>
<br />

<label>Manager</label>
<select asp-for="MainDept_Id" asp-items="mainDepartments"></select>
<br />
