@model List<Department>

@{
    ViewData["Title"] = "Branch Departments List";
}

<partial name="IndexBranchDeptList" />
<a asp-action="Create" asp-controller="Department" asp-route-branchId="@Model[0].Brch_Id" class="btn btn-primary">Add</a>
