@model Department
@{
    ViewData["Title"] = "Details";
}

<partial name="DeptDetails" />

<a asp-action="DisplayStudents" asp-controller="Department" asp-route-id="@Model.Department_Id" class="btn btn-dark">View Students</a>
<a asp-action="DisplayInstructors" asp-controller="Department" asp-route-id="@Model.Department_Id" class="btn btn-dark">View Instructors</a>
<a asp-action="DisplayCourses" asp-controller="Department" asp-route-id="@Model.Department_Id" class="btn btn-dark">View Courses</a>
