@model Branch
@{
    ViewData["Title"] = "AddBranch";
}

<h1>Add Branch Details</h1>

<form asp-action="Save" asp-controller="Branch" method="post">
    <div class="form-group">
        <label asp-for="@Model.Branch_Name"></label>
        <input asp-for ="@Model.Branch_Name" type="text" class="form-control" placeholder="Enter Branch Name">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Branch_Manager_Name"></label>
        <input asp-for="@Model.Branch_Manager_Name" type="text" class="form-control" placeholder="Enter Manager Name">
    </div>
    <input type="submit" value="save" class="btn btn-danger" />
</form>

<a asp-action="Index" asp-controller="Branch" class="btn btn-dark mt-3">Back To List</a>