@model Branch
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class=" table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Branch Name</th>
            <th>Branch Manager</th>
            <th>Branch Admin</th>
            <th>Branch Department</th>
            <th>Branch Student Numbers</th>
        </tr>
    </thead>

    <tbody>
        <tr>
             <td>@Model.Branch_Name</td>
             <td>@Model.Branch_Manager_Name</td>
        </tr>
    </tbody>
    </table>
<a asp-action="Index" asp-controller="Branch" class="btn btn-info">BackToList</a>