@model IEnumerable<Branch>
@{
    ViewData["Title"] = "Index";
}

<h1>Branch Details</h1>

<table class=" table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Branch name</th>
            <th>Branch Manager</th>
            <th>Actions</th>
        </tr>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Branch_Name</td>
                <td>
                    @foreach (var item1 in ViewBag.Branch_Manager_Name)
                    {
                      @item1.BranchManager.Branch_Manager_Name
                    }
                </td>
            <td>
                <a asp-action="Details" asp-controller="Branch" class="btn btn-info">Details</a>
                <a asp-action="EditBranch" asp-controller="Branch" class="btn btn-info">Edit</a>
                <a asp-action="DeleteBranch" asp-controller="Branch" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </thead>
    <tbody>

        <a asp-action="AddBranch" asp-controller="Branch" class="btn btn-info">Add</a>
