@model ITIExaminationSyustem.ViewModels.LoginViewModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITIExaminationSystem</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/ITIExaminationSyustem.styles.css" asp-append-version="true" />
</head>
    <body class="p-0">
    <a class="navbar-brand text-white fs-6 d-none d-sm-inline" href="#">
    <div class="min-vh-100 d-flex justify-content-center align-items-center">

        <div id="loginForm" class="row d-flex justify-content-center align-items-center text-center my-5 py-5 m-auto bg-black col-md-6 flex-column">
            <p style="height:20px" class="fs-1 text-white">Sign In</p>
            <form asp-action="Login" class="w-50 d-flex flex-column justify-content-center p-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="User_Email" class="mt-3 form-control login-input rounded-pill" placeholder="Email" />
                <span asp-validation-for="User_Email" class="text-danger"></span>
                <input asp-for="User_Password" class="mt-3 form-control login-input rounded-pill" type="password" placeholder="Password" />
                <span asp-validation-for="User_Password" class="text-danger"></span>
                <input type="submit" value="Sign In" class="mt-3 btn btn-warning rounded-pill" />
                <h5 class="text-secondary">- or -</h5>
                <a asp-action="Register" asp-controller="Account" class="btn btn-warning rounded-pill">Register</a>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>




