@model ITIExaminationSyustem.Models.Question
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <partial name="CreateEdit" />
            <label class="control-label">Choice 1</label>
            <input type="text" name="choices.1" class="form-control" /> <br />
            <label class="control-label">Choice 2</label>
            <input type="text" name="choices.2" class="form-control" /> <br />
            <label class="control-label">Choice 3</label>
            <input type="text" name="choices.3" class="form-control" /> <br />
            <label class="control-label">Choice 4</label>
            <input type="text" name="choices.4" class="form-control" /> <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-dark mt-3" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-action="Index" class="btn btn-dark mt-3">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
