@model User
@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    <partial name="CreateEdit" />

    <input type="submit" value="Add" class="btn btn-dark mt-3"/>
</form>


