@model User
@{
    ViewData["Title"] = "Edit";
}

<form method="post" enctype="multipart/form-data">
    <partial name="CreateEdit" />

    <input type="submit" value="Update" class="btn btn-primary" />
</form>
